<style type="stylesheet">

header {background-color: aqua; font-family:"Times New Roman", Times, serif ; font-size: large;
}

body {background-color: rgb(167, 199, 171);
}

p { font-family: verdana; font-size:medium ;}

</style>